<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="makemigrations" src="{{ "/assets/img/MakeMigrations.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Make Migrations </h3>
    <ul>
      <li> DRF, AWS, Docker, Deepfake</li>
    </ul>
    <p>배포를 통해 실제 사용자들에게 피드백을 받고 피드백 내용을 반영했습니다. 예전 싸이월드와 비슷한 느낌의 커뮤니티입니다. 게시판을 통해 소통하고, 마이홈을 꾸밀 수 있습니다.<br>마이홈 꾸미기 기능과 유저 상세 정보 저장 기능 및 딥페이크 적용, 상점 기능을 맡아 구현했습니다.</p>
    <a class="project-link" href="https://github.com/zeonga1102/WM_back/blob/master/README.md">Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="200ok" src="{{ "/assets/img/200ok.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 200ok </h3>
    <ul>
      <li> DRF, Style Transfer, Deepfake, S3</li>
    </ul>
    <p>사용자가 입력한 사진을 Style Transfer를 이용해 화풍을 바꾸고 Deepfake로 움직이게 만들어서 해리포터의 호그와트 학생증을 만들어주는 웹사이트입니다. 간단한 커뮤니티 기능을 포함합니다.<br>Style Transfer와 Deepfake 적용과 기숙사 배정 테스트, 유저 정보 저장 부분을 구현했습니다.</p>
    <a class="project-link" href="https://github.com/zeonga1102/200ok_backend/blob/master/README.md">Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="webtachu" src="{{ "/assets/img/webtachu.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 웹타추 </h3>
    <ul>
      <li> Django, NLP, Vector Embedding, Crawling</li>
    </ul>
    <p>웹소설의 줄거리를 NLP와 Vector Embedding을 이용해 분석하고 사용자가 좋아요를 누른 웹소설의 줄거리들과 코사인 유사도를 비교해 웹소설을 추천하는 웹사이트입니다.<br>추천 모델 제작, 웹소설 추천 기능, 작품 상세 페이지, 좋아요, 댓글과 좋아요 누른 작품 키워드 추출 기능, 검색을 구현했습니다.</p>
    <a class="project-link" href="https://github.com/zeonga1102/webtachu/blob/master/README.md">Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="jellymodi" src="{{ "/assets/img/jellymodi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jellymodi </h3>
    <ul>
      <li> Flask, Face detection, Classification</li>
    </ul>
    <p>사용자가 입력한 사진에서 얼굴을 인식하고 표정을 분류해서 해당하는 젤리 아이콘으로 변경시켜 감정을 기록하는 mood tracker 기법의 일기 작성 웹사이트입니다.<br>데이터 전처리와 표정 분류 모델 제작, 일기 작성/수정/삭제/조회 기능과 페이지를 구현했습니다.</p>
    <a class="project-link" href="https://github.com/zeonga1102/Jellymodi_team/blob/master/README.md">Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Python Crazy Arcade" src="{{ "/assets/img/pythoncrazyarcade.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Python Crazy Arcade </h3>
    <ul>
      <li> Python, pygame</li>
    </ul>
    <p>온라인 게임 &lt;Crazy Arcade&gt;를 오직 파이썬만을 이용해 구현했습니다. pygame 패키지를 사용했습니다.<br>개인 프로젝트입니다.</p>
    <a class="project-link" href="https://github.com/zeonga1102/python-CrazyArcade/blob/master/README.md">Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="planture" src="{{ "/assets/img/planture.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Planture </h3>
    <ul>
      <li> Java, Firebase, Tensorflow Lite, Crawling</li>
    </ul>
    <p>카메라로 사진을 찍거나 앨범에 있는 사진을 선택하면 식물을 인식하여 해당하는 정보를 보여주고 기르는 식물에 대한 정보를 등록해서 관리에 도움을 주는 서비스를 포함한 식물을 주제로 하는 SNS 안드로이드 어플리케이션</p>
    <a class="project-link" href="https://github.com/zeonga1102/Planture/blob/master/README.md">Repository</a>
  </div>
</div>